<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Include jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="./static/styles.css">
    <script type="text/javascript" src="{{ url_for('static', filename='show_password.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="./static/images/dairy.png"/>
</head>
<body>
    <div class="row">
        <div class="col m12 l12 show-on-medium-and-up hide-on-small-only">
            <div class="header">
                <span class="text-font">
                    <span style="font-size: 3rem; line-height: 0.5vw;" class="margin">Forgot Password</span>
                    <br>
                    <span class="margin" style="font-size: 1.8rem;"><a href="/login" style="text-decoration:none;">Login</a></span>
                </span>
            </div>
            <p class="text-font" style="text-align: center; text-font: 3rem">Please Enter Your Email and First Name and Last Name. If They Belong to the Same Account, We Will Send the Password to your Email. </p>
            <div style="margin-top: 3vw; height: 7vw; text-align: center;">
                <form method="POST" class="text-font" style="display: inline-block; width: 40vw; text-align: center;">
                    <div class="stylingform" style="border: 2px solid gray; border-radius: 0.5vw; text-align: center;">
                        <div class="input-field">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="firstname" class="text-font" type="text" name="firstname">
                            <label for="firstname" style="vertical-align:5px;">First Name</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="lastname" class="text-font" type="text" name="lastname">
                            <label for="lastname" style="vertical-align:5px;">Last Name</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">email</i>
                            <input id="email" class="text-font validate" type="email" name="email">
                            <label for="email">Email</label>
                        </div>
                        <button style="z-index: 1; background: white; color: black" class="text-font waves-effect waves-light btn"><i class="material-icons">send</i><span style="vertical-align: super;">Send</span></button>
                    </div>
                    <br>
                    <br>
                    <br>
                </form>
            </div>
        </div>
        <div class="show-on-small hide-on-med-and-up">
            <div class="header">
                <span class="text-font">
                    <span style="font-size: 3rem; line-height: 0.5vw;" class="margin">Forgot Password</span>
                    <br>
                    <span class="margin" style="font-size: 1.8rem;"><a href="/login" style="text-decoration:none;">Login</a></span>
                </span>
            </div>
            <p class="text-font" style="text-align: center; text-font: 3rem">Please Enter Your Email and Password. If the Email and Password Belong to the Same Account, We Will Send the Password to the Email. </p>
            <div style="margin-top: 3vw; height: 7vw; text-align: center;">
                <form method="POST" class="text-font" style="display: inline-block; width: 90%; text-align: center;">
                    <div class="stylingform" style="border: 2px solid gray; border-radius: 0.5vw; text-align: center;">
                        <div class="input-field">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="firstname2" class="text-font" type="text" name="firstname">
                            <label for="firstname2" style="vertical-align:5px;">First Name</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="lastname2" class="text-font" type="text" name="lastname">
                            <label for="lastname2" style="vertical-align:5px;">Last Name</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">email</i>
                            <input id="email2" class="text-font validate" type="email" name="email">
                            <label for="email2">Email</label>
                        </div>
                        <button style="z-index: 1; background: white; color: black" class="text-font waves-effect waves-light btn"><i class="material-icons">send</i><span style="vertical-align: super;">Send</span></button>
                    </div>
                    <br>
                    <br>
                    <br>
                </form>
            </div>
        </div>
    </div>
</body>
</html>