<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="./static/styles.css">
    <title>One Stop Shop</title>
</head>
<body>
    <h1 class="redheader"><span style="font-size:4.25vw" class="text-font">Welcome to 1-Stop-Shop</span></h1>

    <div style="text-align:center;">
        <a href="/add" class="btn btn-lg a-as-button text-font">Add a Product</a>
        <a href="/buy" class="btn btn-lg a-as-button text-font">Buy a Product</a>
        <br>
        <br>
        <br>
        <a href="/checkout" class="btn btn-lg a-as-button text-font">Cart</a>
    </div>
</body>
</html>
